<div>
    <form [formGroup]="userForm"  class="form-register">
        <h1 class="h3 mb-3 font-weight-normal">Benutzer verwalten</h1>
        <div>
            <mat-form-field appearance="outline" >
                <mat-label>Benutzername</mat-label>
                <input matInput formControlName="userNameCtl" placeholder="badman88">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input matInput formControlName="emailCtl" placeholder="max@mustermann.de">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Vorname</mat-label>
                <input matInput formControlName="firstNameCtl"  placeholder="Max">
                <mat-icon matSuffix>account_box</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nachname</mat-label>
                <input matInput formControlName="lastNameCtl" placeholder="Mustermann">
                <mat-icon matSuffix>account_box</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Passwort</mat-label>
                <input type="password" matInput formControlName="passwordCtl" placeholder="#Iambad88">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <button (click)="edit()" mat-raised-button color="accent">{{ editUser ? 'Abbrechen' : 'Bearbeiten' }}</button>
            <button *ngIf="editUser" [disabled]="!userForm.valid" (click)="saveUser()" mat-raised-button color="primary" id="safeButton">Speichern</button>
            <br>
        </div>
    </form>
</div>
