<div class="container">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Bitte anmelden</h1>

        <mat-form-field appearance="outline">
            <mat-label>Benutzername</mat-label>
            <input matInput (input)="data.username = $event.target.value" placeholder="badman88" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Passwort</mat-label>
            <input matInput (input)="data.password = $event.target.value" type="password" placeholder="#Iambad88"
                required>
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <br>
        <div class="mb-3">
            <mat-slide-toggle>Anmeldung merken</mat-slide-toggle>
        </div>
        <br>
        <button (click)="login()" mat-raised-button color="primary">Login</button>


        <hr />
        <p>
            Sie haben noch keinen Account?
        </p>
        <a routerLink="/register">
            <button mat-raised-button color="accent">Zur Registrierung</button>
        </a>

    </form>

    <div *ngIf="showErrorBanner" class="alert alert-warning alert-dismissible fade show" role="alert" #errorBanner>
        <strong>Holy guacamole!</strong> Passwort oder Username waren nicht korrekt.
        <button (click)="showErrorBanner = false;" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>