<!-- FILTER-REGION -->
<div class="container-fluid searchDiv">
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="activePanel === 1" (opened)="setActivePanel(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Raumgröße</mat-panel-title>
        <mat-panel-description>
          Definiere eine gewünschte Raumgröße..
          <mat-icon>business</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <mat-radio-group [(ngModel)]="filters.roomSize" name="roomSizeRadioGroup">
          <mat-radio-button *ngFor="let size of roomSizes" [value]="size.title | lowercase">{{ size.title }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextPanel()">Weiter</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="activePanel === 2" (opened)="setActivePanel(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Beamer
        </mat-panel-title>
        <mat-panel-description>
          Beamer gefällig?
          <mat-icon>videocam</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <br>
        <mat-radio-group [(ngModel)]="filters.beamer" name="beamerRadioGroup">
          <mat-radio-button [value]="1">Ja</mat-radio-button>
          <mat-radio-button [value]="0">Nein</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevPanel()">Zurück</button>
        <button mat-button color="primary" (click)="nextPanel()">Weiter</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="activePanel === 3" (opened)="setActivePanel(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Zeitraum
        </mat-panel-title>
        <mat-panel-description>
          Definiere den Zeitraum deiner Buchung..
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput (dateChange)="updateStartDate($event)" [min]="minDateStart" [matDatepicker]="pickerStartDate" placeholder="Von" required>
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <!-- touchUi: bewirkt, dass es ein Pop-Up ist-->
        <mat-datepicker touchUi #pickerStartDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput (dateChange)="updateEndDate($event)" [min]="minDateEnd" [matDatepicker]="pickerEndDate"
          (input)="filters.endDate = $event.target.value" placeholder="Bis">
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerEndDate></mat-datepicker>
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevPanel()">Zurück</button>
        <button mat-button color="primary" (click)="filter()">Filtern</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

  <br>
  <button mat-raised-button color="accent" (click)="filter()" type="button">Räume filtern!</button>
  <a mat-button routerLink="/"><span>Reset</span></a>
</div>

<br>
<!--For-each-Schleife für alle Räume-->

<app-room-card *ngFor="let _room of rooms" [room]="_room" [showBookButton]="true" [showBody]="true"></app-room-card>