<!--ALTE VERSION SIEHE: ROOM-CARD.COMPONENT COPY.HTML-->

<mat-card class="card" (dblclick)="bookRoom()">
    <mat-card-header>
        <mat-card-title> {{ room.name }}</mat-card-title>
        <!--TODO FALLS SUBTITLE ERWÜNSCHT WÄRE-->
        <mat-card-subtitle>Raumnummer # {{ room.id }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="room.picturePath" alt="Raum-Foto">

    <mat-card-content *ngIf="showBody">
        <p>
            {{ room.info }}
        </p>

        <div *ngIf="room.beamerAvailable; else beamerNotAvailable">
            <!-- wird angezeigt, wenn Beamer verfügbar-->
            <span class="badge badge-info">Beamer verfügbar</span>
        </div>
        <ng-template #beamerNotAvailable>
            <!-- wird angezeigt, wenn Beamer nicht verfügbar-->
            <span class="badge badge-secondary">Kein Beamer verfügbar</span>
        </ng-template>
        <div [ngSwitch]="room.roomsize.title">
            <span class="badge badge-secondary" *ngSwitchCase="'klein'">Klein</span>
            <span class="badge badge-secondary" *ngSwitchCase="'mittel'">Mittel</span>
            <span class="badge badge-secondary" *ngSwitchCase="'groß'">Groß</span>
            <span class="badge badge-secondary" *ngSwitchDefault>Raumgröße nicht definiert</span>
        </div>
        <div>
            <span class="badge badge-warning">{{ room.price | currency: 'EUR' }}</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="showBookButton" (click)="bookRoom()">BUCHEN</button>
    </mat-card-actions>
</mat-card>