<!--ALTE VERSION SIEHE: ROOM-CARD.COMPONENT COPY.HTML-->

<mat-card class="card" (dblclick)="bookRoom()">
    <mat-card-header>
        <mat-card-title> {{ room.title }}</mat-card-title>
        <!--TODO FALLS SUBTITLE ERWÜNSCHT WÄRE-->
        <mat-card-subtitle># {{ room.id }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="room.images[0]" alt="Raum-Foto">

    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            {{ room.description }}
        </p>

        <p *ngIf="room.beamerAvailable; else beamerNotAvailable">
            <!-- wird angezeigt, wenn Beamer verfügbar-->
            <span class="badge badge-info">Beamer verfügbar</span>
        </p>
        <ng-template #beamerNotAvailable>
            <!-- wird angezeigt, wenn Beamer nicht verfügbar-->
            <p>
                <span class="badge badge-secondary">Kein Beamer verfügbar</span>
            </p>
        </ng-template>
        <div [ngSwitch]="room.size">
            Raumgröße:
            <span class="badge badge-secondary" *ngSwitchCase="'klein'">Klein</span>
            <span class="badge badge-secondary" *ngSwitchCase="'mittel'">Mittel</span>
            <span class="badge badge-secondary" *ngSwitchCase="'groß'">Groß</span>
            <span class="badge badge-secondary" *ngSwitchDefault>Raumgröße nicht definiert</span>
        </div>
        <div>
            Preis:
            <span class="badge badge-warning">{{ room.price | currency: 'EUR' }}</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button *ngIf="showBookButton" (click)="bookRoom()">BUCHEN</button>
    </mat-card-actions>
</mat-card>

<br>