<h1 class="h3 mb-3 font-weight-normal">Raum buchen</h1>
<div class="row">
  <div class="col-5">
    <app-room-card [room]="currentRoom" [showBookButton]="false" [showBody]="true">
    </app-room-card>
  </div>
  <div class="col-7">
    <div class="row">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [editable]="!bookingCreated" [stepControl]="firstFormGroup">
          <!--editable: zurück gehen erlauben-->
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Zeitraum wählen</ng-template>
            <mat-form-field>
              <input matInput (dateChange)="updateStartDate($event)" formControlName="startDateCtl" [min]="minDateStart"
                [matDatepicker]="pickerStartDate" placeholder="Von" required>
              <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
              <!-- touchUi: bewirkt, dass es ein Pop-Up ist-->
              <mat-datepicker touchUi #pickerStartDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field id="pickerEndDate">
              <input matInput (dateChange)="updateEndDate($event)" formControlName="endDateCtl" [min]="minDateEnd"
                [matDatepicker]="pickerEndDate" placeholder="Bis" required>
              <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #pickerEndDate></mat-datepicker>
            </mat-form-field>
            <div>
              <button mat-flat-button matStepperNext color="accent" [disabled]="!roomAvailable">Weiter</button>
            </div>
          </form>
        </mat-step>
        <mat-step [editable]="!bookingCreated" [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Sonderleistungen buchen</ng-template>

            <br>
            <mat-slide-toggle (change)="updateWifi()">WiFi buchen</mat-slide-toggle>
            <br>
            <mat-slide-toggle (change)="updateFood()">Verpflegung buchen</mat-slide-toggle>
            <br>
            <br>
            <section>
              <mat-checkbox [(ngModel)]="agbAccepted" name="orderButton" formControlName="agbCheckBoxCrl">
                Ich habe die allgemeinen Geschäftsbedingungen gelesen und akzeptiere diese
              </mat-checkbox>
            </section>

            <div>
              <button mat-button matStepperPrevious>Zurück</button>
              <button mat-raised-button matStepperNext color="warn" [disabled]="!agbAccepted" (click)="bookRoom()">
                Verbindlich buchen
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step (click)="bookRoom()">
          <ng-template matStepLabel>Geschafft!</ng-template>
          <h3>Buchungsbestätigung</h3>
          <p>Wir sagen danke!</p>
          
          <h5>Ihre Buchungsnummer: {{ booking.id }}</h5>
          <p>Eine Buchungsbestätigung wird Ihnen per E-Mail zugesandt. Sollten Sie Ihre Buchung stornieren wollen, oder wenn Sie weitere Fragen haben, wenden Sie sich bitte an support@raumverwaltung.de</p>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="row">
      <app-price-list
        [prices]="booking.prices"
      >
      </app-price-list>
    </div>
  </div>

</div>