<mat-list class="matlist">
  <div *ngFor="let listItem of additionalItems">
    <mat-list-item>
      <mat-icon matListIcon>{{listItem.matIcon}}</mat-icon>
      <h3 matLine>{{ listItem.description }}</h3>
      <p matLine>
        <span></span>
      </p>
      <p>
        <span class="listPrice"> {{ listItem.value }} </span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
  <mat-list-item>
    <mat-icon matListIcon>room</mat-icon>
    <h3 matLine>Raum-Preis</h3>
    <p matLine>
      <span></span>
    </p>
    <p>
      <span class="listPrice"> {{ prices.roomPrice | currency: 'EUR' }} </span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>signal_wifi_4_bar</mat-icon>
    <h3 matLine>WiFi</h3>
    <p matLine>
      <span></span>
    </p>
    <p>
      <span class="listPrice"> {{ prices.wifiPrice | currency: 'EUR' }} </span>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>fastfood</mat-icon>
    <h3 matLine>Verpflegung</h3>
    <p matLine>
      <span></span>
    </p>
    <p>
      <span class="listPrice"> {{ prices.foodPrice | currency: 'EUR' }} </span>
    </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>euro</mat-icon>
    <h3 matLine>Gesamtpreis</h3>
    <p matLine>
      <span>(inkl. Mehrwertsteuer)</span>
    </p>
    <p>
      <span class="listPrice"> {{ prices.priceSum | currency: 'EUR' }} </span>
    </p>
  </mat-list-item>
</mat-list>